beautifulsoup4==4.11.2
bs4==0.0.1
build==0.10.0
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.6
idna==2.7
iniconfig==2.0.0
-e git+https://github.com/MatthewFreestone/katti-automation.git@85dd7340b4bf1f23983165f2ff91d87692e23123#egg=katti
packaging==23.0
pluggy==1.0.0
pyproject_hooks==1.0.0
pytest==7.3.1
requests==2.20.0
soupsieve==2.4
urllib3==1.24.3
